@font-face {
  font-family: "SF Pro";
  src: url(/assets/fonts/SF-Pro.ttf) format("ttf");
}

@font-face {
  font-family: "SF Pro Bolf";
  src: url(/assets/fonts/SF-Pro-Text-Bold.otf) format("opentype");
}

@font-face {
  font-family: "SF Pro Light";
  src: url(/assets/fonts/SF-Pro-Display-Light.otf) format("opentype");
}

body {
  font-family: "SF Pro";
}

h1 {
  font-family: "SF Pro Bolf";
}

.date {
  font-family: "SF Pro Light";
}
