/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --fontsize: 1.6rem;
  --heading-fontsize: 10rem;

  --primary-color: #ffdfdb;
  --gery-color: rgb(160, 158, 156);

  --radius: 12px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--fontsize);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(100deg, #575656, #062e3f);
  color: var(--primary-color);
}

h1 {
  font-size: var(--heading-fontsize);
  text-align: left;
}

h2 {
  font-size: 3rem;
}

@media screen and (min-width: 992px) {
  main {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: calc(var(--heading-fontsize) / 2);
  }
}

.container {
  padding: 4rem 2rem;
}
/* ------------------- TITLE SECTION ------------------- */
.title-container__typewriter-mobile {
  display: none;
}

@media screen and (max-width: 992px) {
  .title-container__typewriter {
    display: none;
  }
  /* Mobile typewriter */
  .title-container__typewriter-mobile {
    display: inline-block;
    text-align: center;
    padding-top: 4rem;
  }

  .title-container__typewriter-mobile h1 {
    display: block;
    width: 12.5ch;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    animation: typewriter 3s steps(40) 1s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 12.5ch;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }

  .container {
    padding: 2rem 2rem;
  }
}
.title-container {
  padding: 2rem;
  padding-top: 4rem;
  text-align: center;
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container__date {
  color: var(--gery-color);
}

.title-container__typewriter h1 span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  width: 0; /* Set initial width to 0 */
  animation: typing 1.8s steps(40, end) forwards,
    indicator 0.6s step-end infinite;
}

.title-container__typewriter h1 span:nth-child(1) {
  animation-delay: 0s;
}

.title-container__typewriter h1 span:nth-child(2) {
  animation-delay: 2s;
}

.title-container__typewriter h1 span:nth-child(3) {
  animation-delay: 4s;
}

/* Typing effect */
@keyframes typing {
  from {
    max-width: 100% + 1ch;
  }
  to {
    width: 100%;
  }
}
@keyframes blinking {
  from {
    border-color: white;
  }
  to {
    border-color: transparent;
  }
}

#date {
  color: var(--gery-color);
}
/* ------------------- MAIN CONTENT ------------------- */
.main-content {
  align-items: center;
  flex: 7;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.app {
  background: rgb(160, 158, 156, 0.1);
  width: 70%;
  height: 100%;
  border-radius: var(--radius);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.form__input-group {
  position: relative;
  width: 100%;
}

.form__input {
  width: 100%;
  height: 4rem;
  padding-left: 2rem;
  padding-right: 4.5rem;
  border: none;
  outline: none;
  background-color: #2c2f33;
  color: var(--primary-color);
  border-radius: var(--radius);
  transition: all 0.3s;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

button {
  border: none;
  outline: 0;
}

button > i {
  pointer-events: none; /* Prevent icon from being clickable */
}

.form__input:hover {
  background-color: #3e4245;
}

.form__add-todo {
  position: absolute;
  top: 50%;
  right: 1rem; /* Position the button */
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 2.8rem;
  cursor: pointer;
}

/* ------------------- FILTER SECTION ------------------- */

.app__filter-mobile {
  display: none;
}
.app__filter {
  justify-content: space-between;
  color: var(--gery-color);
  padding: 1rem;
  padding-bottom: 0;
  display: flex;
}

.filter-option {
  cursor: pointer;
  color: var(--gery-color);
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 400;
}

.filter-option:hover {
  color: var(--primary-color);
}

.filter-option--active {
  color: var(--primary-color);
  font-weight: 600;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .app__filter {
    display: none;
  }
  .app__filter-mobile {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .app__form-container {
    justify-content: space-between;
  }
  .filter-options-select {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--primary-color);
    text-align: right;
    font-size: 1.4rem;
  }
  .filter-option-clear {
    font-size: 1.4rem;
    color: var(--gery-color);
  }
  .filter-option-clear:hover {
    color: var(--primary-color);
  }
}

@media only screen and (max-width: 768px) {
  .app__filter {
    display: none;
  }
  .app__filter-mobile {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .app__form-container {
    /* display: ; */
    justify-content: space-between;
  }
  .filter-options-select {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--primary-color);
    text-align: right;
    font-size: 1.4rem;
  }
  .filter-option-clear {
    font-size: 1.4rem;
    color: var(--gery-color);
  }
  .filter-option-clear:hover {
    color: var(--primary-color);
  }

  h1 {
    font-size: calc(var(--heading-fontsize) / 2.5);
  }

  h2 {
    font-size: 2rem;
  }
}

/* ------------------- TODO LIST ------------------- */
.todo__list {
  list-style: none;
}

.todo__item {
  background-color: #2c2f33;
  border-radius: var(--radius);
  padding: 1.5rem 2rem;
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  color: var(--primary-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.todo__item:hover {
  background-color: #3e4245;
  transform: scale(1.02);
}

.todo__title {
  flex: 9;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: left;
  word-wrap: break-word;
  color: var(--primary-color);
}

.todo__details {
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.todo__created-at {
  font-size: 1.4rem;
  color: var(--gery-color);
}

.todo__remove, .todo__check {
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.8rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.todo__remove:hover, .todo__check:hover{
transform: scale(1.2);} 

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}


